html, body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

:root {
  --min-width: 900px;
  --color-red: rgb(177, 39, 14);
  --color-red-dark: rgb(144, 30, 10);
  --color-blue: rgb(14, 57, 177);
  --color-blue-dark: rgb(9, 39, 120);
}

body > main {
  width: 100%;
  max-width: var(--min-width);
  padding: 0px 16px;

  flex-grow: 1;
}

body > footer {
  width: 100%;
  max-width: var(--min-width);
  text-align: center;
}

.links-list > *:not(:first-child) {
  margin-top: 16px;
}

.link {
  --bg-color: rgb(55, 55, 55);
  --bg-color-dark: rgb(20, 20, 20);
  border: 1px solid;
  background-color: var(--bg-color);
  color: azure;
  padding: 4px 12px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  margin: 12px 0px
}

.link:hover {
  background-color: var(--bg-color-dark);
}

.link.--red {
  --bg-color: var(--color-red);
  --bg-color-dark: var(--color-red-dark);
}

.link.--blue {
  --bg-color: var(--color-blue);
  --bg-color-dark: var(--color-blue-dark);
}