html, body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

:root {
  --min-width: 900px;
  --color-main: rgb(177, 39, 14);
  --color-main-dark: rgb(144, 30, 10);
}

body > main {
  width: 100%;
  max-width: var(--min-width);
  padding: 0px 16px;

  flex-grow: 1;
}

body > footer {
  width: 100%;
  max-width: var(--min-width);
  text-align: center;
}

.--main-color-font {
  color: var(--color-main);
}

.btn {
  border: 1px solid;
  background-color: var(--color-main);
  color: azure;
  padding: 4px 12px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-main-dark);
}